build/
dist/
gradle/*
!gradle/wrapper/
!gradle/wrapper/**
.gradle/
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar
target/
out/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
*.log
node_modules/
.env
.env.local
*.orig
